@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

body {
  font-family: "Playfair Display", serif, "Gloria Hallelujah", cursive,
    "Montserrat", sans-serif;
  background-image: linear-gradient(
    180deg,
    hsl(34deg 78% 91%) 0%,
    hsl(34deg 56% 86%) 18%,
    hsl(34deg 47% 80%) 29%,
    hsl(34deg 41% 75%) 38%,
    hsl(34deg 38% 69%) 46%,
    hsl(34deg 35% 64%) 54%,
    hsl(34deg 33% 59%) 63%,
    hsl(34deg 31% 54%) 73%,
    hsl(34deg 31% 49%) 85%,
    hsl(34deg 37% 44%) 100%
  );
  padding: 0;
  margin: 0;
  height: 100vh;
}

.coded-by {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-align: center;
  color: rgb(59, 59, 59);
}

.people-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.people {
  max-width: 700px;
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  // background-color: darkcyan;
  .title {
    position: relative;
    line-height: 40px;
    .the-most {
      position: relative;
      font-size: 1.5rem;
      font-weight: 100;
    }
    .famous {
      position: relative;
      left: 20%;
      font-size: 2rem;
      font-size: 2.4rem;
      font-family: "Gloria Hallelujah", cursive;
    }
    .paintings-text {
      position: relative;
      font-size: 1.5rem;
      left: 60%;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
    }
  }
  .main-page-desc {
    max-width: 500px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
  }
  .painting-row {
    display: flex;
    // justify-content: space-around;
    align-items: center;
    width: 70%;
    // flex-wrap: wrap;
    padding-left: 20px;
    gap: 20px;
    overflow-x: auto;
    // background-color: deepskyblue;
    .card {
      box-sizing: border-box;
      cursor: pointer;

      .frame-painting {
        width: 150px;
        box-shadow: 2px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 10px 21px 0px rgba(0, 0, 0, 0.75);
      }
      .frame-painting:nth-child(4) {
        width: 350px;
      }
    }
  }
}

.fullscreen {
  height: 100vh;
  .painting {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-background {
      width: 50%;
      height: 100%;
      background: linear-gradient(
        180deg,
        hsl(180deg 100% 27%) 0%,
        hsl(180deg 100% 26%) 14%,
        hsl(180deg 100% 24%) 25%,
        hsl(180deg 100% 22%) 35%,
        hsl(180deg 100% 21%) 44%,
        hsl(180deg 100% 19%) 52%,
        hsl(180deg 100% 17%) 60%,
        hsl(180deg 100% 16%) 68%,
        hsl(180deg 100% 14%) 78%,
        hsl(180deg 100% 13%) 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        cursor: move;
        max-width: 500px;
        width: 100%;
        box-shadow: 2px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 10px 21px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 10px 21px 0px rgba(0, 0, 0, 0.75);
      }
    }
    .painting-details {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      background-color: antiquewhite;

      .inner {
        max-width: 480px;
        position: relative;
        margin-left: 7rem;
        .go-back {
          cursor: pointer;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0;
        }
        .name {
          font-family: "Gloria Hallelujah", cursive;
          font-size: 2rem;
        }
        .artist {
          margin-bottom: 30px;
          font-size: 1.1rem;
        }
        .location {
          margin-bottom: 30px;
          font-size: 13px;
          font-family: "Montserrat", sans-serif;
        }

        .description {
          font-size: 1rem;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
}
