@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

body {
  font-family: "Playfair Display", serif, "Gloria Hallelujah", cursive,
    "Montserrat", sans-serif;
  background: white;
  padding: 0;
  margin: 0;
}

.coded-by {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 12px;
  text-align: center;
  color: rgb(59, 59, 59);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .title {
    position: relative;
    line-height: 50px;
    .the-most {
      position: relative;
      font-size: 1.5rem;
      font-weight: 100;
    }
    .famous {
      position: relative;
      left: 30%;
      font-size: 2rem;
      font-size: 2.4rem;
      font-family: "Gloria Hallelujah", cursive;
    }
    .paintings-text {
      position: relative;
      font-size: 1.5rem;
      left: 10%;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
    }
  }
  .main-page-desc {
    max-width: 500px;
    width: 80%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 25px;
  }
  .painting-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    flex-wrap: wrap;
    .card {
      box-sizing: border-box;
      cursor: pointer;
    }
  }
}

.fullscreen {
  height: 100vh;
  .painting {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-background {
      width: 50%;
      height: 100%;
      background: #fef3c8;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        cursor: move;
        max-width: 500px;
        width: 100%;
      }
    }
    .painting-details {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .inner {
        max-width: 480px;
        position: relative;
        margin-left: 7rem;
        .go-back {
          cursor: pointer;
          color: #282828;
          text-decoration: none;
          text-align: left;
          position: absolute;
          top: -124px;
          left: 0;
        }
        .name {
          font-family: "Gloria Hallelujah", cursive;
          font-size: 2rem;
        }
        .artist {
          margin-bottom: 30px;
          font-size: 1.1rem;
        }
        .location {
          margin-bottom: 30px;
          font-size: 13px;
          font-family: "Montserrat", sans-serif;
        }

        .description {
          font-size: 1rem;
          font-family: "Montserrat", sans-serif;
        }
      }
    }
  }
}
